<head>
<title>News.com</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
<h1>news</h1><br>

			<a class="navbuttons" href="link3.html">news</a><br><br>
			<a class="navbuttons">Values Added<br><br><b>
			<a class="navbuttons">Home Service<br><br><b>
			<a class="navbuttons">Interactions<b>
			</div>
</body>
</html>
