<style>
				
			
					
				
				div.nav{
					background-color:orange;
					width:1500px;
					height:40px
					position:centre;
					margin-left:auto;
					margin-right:auto;
					top:3px;
					border:2px solid orange;
					background-image: -moz-linear-gradient(top, #787a80, #000000);
					background-image: -webkit-gradient(linear, center top, center bottom, from(#787a80), to(#000000));
					background-image: -o-linear-gradient(top, #787a80, #000000);
					}
					
					div.nav2{
					background-color: white;
					width:500px;
					height:1px
					position:right;
					margin-left:auto;
					margin-right;
					top:400px;
					border:20px solid white;
					background-image: -moz-linear-gradient(top, #white, #white);
					background-image: -webkit-gradient(linear, center top, center bottom, from(#white), to(#white));
					background-image: -o-linear-gradient(top, #white, #white);
					}
										
				
				div.footer{
					background-color:#black;
					position:center;
					width:relative;
					height:.00005px;
					<!--margin-left:;
					margin-right:auto;-->
					bottom:3px;
					border:4px solid black;
					z-index:1;
					}
				
				a.navbuttons{
					text-align:center;
					height:30px;
					padding-left:14px;
					padding-right:14px;
					line-height:30px;
					margin:0px;
					display:inline-block;
					font-size:13px;
					color:yellow;
					text-decoration:none;
					}
				
				a.navbuttons:hover{
					background-color:#3FD480;
					color:white;
					text-decoration;none;
					cursor:pointer;
					}
				body{
					background-color:#CCCCC0;
					background-image:url(image/darkTile.gif);
					background-repeat:no-repeat;
					}
				div.trim{
					background-color:#ffED80;
					width:relative;
					height:30px;
					position:relative;
					top:0px;
					font-size:20px;
					}
				.header{
					color:Browngreen; <!-- this font color for header-->
					position:absolute;
					top:3px;
					text-shadow:2px 2px 2px white;
					left:10px;
					}
				.center{
					text-align:left;
					}
				div.creativity{
					background-color:#red;
					width:300px;
					height:200px;
					position:left;
					top:0px;
					<!--font-size:20px;-->
					}
					
				div.window {
					width:1400px;
					height:1100px;
					position:left;
					top:5px;
					margin-left:auto;
					margin-right:auto;
					border:5px solid grey;
					background-color: grey;
					}	
						
				
				div.rightwindow{
					width:31%;
					height:90px;
					background-color:orange;
					float:right;
					}
                div.banner {
				width:40%;
					height:200px;
					background-color:black;
					float:middle;
					}
					
	            #map-canvas {
                   width: 300px;
                   height: 300px;
		           float: ;}
	            div.wrapper { width:1400px;
                  min-width: 100px;
		          max-width: 4024px;
                  margin-right: auto;
		          margin-left: auto;
		          float:left;
				  height:150px;
		          background-color: grey;
		          
               }	
				
				
		</style>